<div class="container">
  <table>
    <thead>
    <tr>
      <th>

      </th>
      <th>
        <a class='dropdown-trigger btn' href='#' data-target='dropdown' #dropdown>Drop Me!</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown' class='dropdown-content' >
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li class="divider" tabindex="-1"></li>
          <li><a href="#!">three</a></li>
          <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
          <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
        </ul></th>
      <th>Date</th>
      <th>Distance</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let w of workouts;let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{w.workout_type}}</td>
      <td>{{w.date}}</td>
      <td>{{w.distance}}</td>
    </tr>
    </tbody>
  </table>
</div>

