<div class="container">
  <table>
    <thead>
    <tr>
      <th>

      </th>
      <th>
        <app-dropdown [options]="types" title="Type"></app-dropdown>
      </th>
      <th>
        <app-dropdown [options]="dateTypes" title="Date"></app-dropdown>
      </th>
      <th>
        <app-dropdown [options]="distanceTypes" title="Distance"></app-dropdown>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let w of workouts;let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{w.workout_type}}</td>
      <td>{{w.getFormattedDate()}}</td>
      <td>{{w.getDistance()}}</td>
    </tr>
    </tbody>
  </table>
</div>

